In [1]:
import pandas as pd


df = pd.read_csv('2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv')
df.head()

   order_id  shop_id  user_id  ...  total_items  payment_method           created_at
0         1       53      746  ...            2            cash  2017-03-13 12:36:56
1         2       92      925  ...            1            cash  2017-03-03 17:38:52
2         3       44      861  ...            1            cash   2017-03-14 4:23:56
3         4       18      935  ...            1     credit_card  2017-03-26 12:43:37
4         5       18      883  ...            1     credit_card   2017-03-01 4:35:11

[5 rows x 7 columns]

In [2]:
df["order_amount"].mean()

3145.128

In [6]:
df.nunique()

order_id          5000
shop_id            100
user_id            301
order_amount       258
total_items          8
payment_method       3
created_at        4991
dtype: int64

average order value with outliers

In [22]:
df["order_amount"].mean()

3145.128

median of order value with outliers (Median is robust to outliers, therefore, is same even after removing outliers)

In [21]:
df["order_amount"].median()

284.0

After removing major outlier, the mean is 754.7

In [19]:
dff = df[df.shop_id != 42]
dff["order_amount"].mean()

754.7916750858759

Median after removing outlier. Anyother reason to report median is that it allows to let some important outliers stay without lossing much information

In [20]:
dff["order_amount"].median()

284.0